[client]
port		= 3306
socket		= {{ MYSQL_PS_PATH }}/mysql.sock

[mysqld_safe]
user        = {{ APP_USER }}
socket		= {{ MYSQL_PS_PATH }}/mysql.sock
nice		= 0

[mysqld]
skip-grant-tables

user		= {{ APP_USER }}
port		= 3306

basedir		= {{ MYSQL_PATH }}
datadir		= {{ MYSQL_DATA_PATH }}

tmpdir		= {{ MYSQL_PS_PATH }}
pid-file	= {{ MYSQL_PS_PATH }}/mysql.pid
socket		= {{ MYSQL_PS_PATH }}/mysql.sock

lc-messages-dir	= {{ MYSQL_PATH }}
skip-external-locking

#timestamp
explicit_defaults_for_timestamp = TRUE

bind-address		= 127.0.0.1

max_connections        = 100
max_allowed_packet	= 16M
thread_stack		= 192K
thread_cache_size       = 8

query_cache_limit	= 1M
query_cache_size        = 16M

general_log_file        = {{ MYSQL_LOG_PATH }}/mysql.log
general_log             = 1

log_error = {{ MYSQL_LOG_PATH }}/error.log
log_slow_queries	= {{ MYSQL_LOG_PATH }}/mysql-slow.log

long_query_time = 2
log-queries-not-using-indexes

server-id		= 1
log_bin			= {{ MYSQL_LOG_PATH }}/mysql-bin.log
expire_logs_days	= 10
max_binlog_size         = 100M

binlog_do_db		= include_database_name
binlog_ignore_db	= include_database_name

# chroot = {{ MYSQL_PATH }}

###chracterset
skip-character-set-client-handshake
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci

ssl-ca={{ MYSQL_DATA_PATH }}/cacert.pem
ssl-cert={{ MYSQL_DATA_PATH }}/server-cert.pem
ssl-key={{ MYSQL_DATA_PATH }}/server-key.pem

[mysqldump]
quick
quote-names
max_allowed_packet	= 16M

[mysql]
no-auto-rehash
show-warnings
prompt=\u@\h:\d_\R:\m:\\s>
pager="less -n -i -F -X -E"